<%- include('../template/header')%>
<%- include('../assets/scripts/extend_css/datatable')%>
<%- include('../template/close_head')%>
<%- include('../template/nav')%>
<table id="tabel" class="table table-striped table-bordered nowrap" style="width:100%">
    <thead>
    <tr>
        <th>NIK</th>
        <th>Nama</th>
        <th>Tanggal Lahir</th>
        <th>Kewarganegaraan</th>
        <th>Agama</th>
        <th>Pekerjaan</th>
        <th>Provinsi</th>
        <th>Kabupaten</th>
        <th>Kecamatan</th>
        <th>Kelurahan / Desa</th>
        <th>RT</th>
        <th>RW</th>
        <th>Detail</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>3513170305980003</td>
        <td>Ahmad Yani</td>
        <td>3 Mei 1998</td>
        <td>WNI</td>
        <td>Islam</td>
        <td>Wiraswasta</td>
        <td>Jawa Timur</td>
        <td>Kab. Probolinggo</td>
        <td>Maron</td>
        <td>Satreyan</td>
        <td>9</td>
        <td>2</td>
        <td>Dusun Gentengan</td>
    </tr>
    </tbody>
</table>
<%- include('../template/footer')%>
<%- include('../assets/scripts/extend_js/datatable')%>
<%- include('../template/close_foot')%>