<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <br/>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            background-color: #FAFAFA;
            font: 12pt "Tahoma";
        }

        * {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        .page {
            width: 21cm;
            min-height: 33cm;
            padding-top: 0.5cm;
            padding-left: 1cm;
            padding-right: 1cm;
            padding-bottom: 1cm;
            margin: 1cm auto;
            border: 1px #D3D3D3 solid;
            border-radius: 5px;
            background: white;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        @page {
            margin: 0;
        }

        @media print {
            .page {
                margin: 0;
                border: initial;
                border-radius: initial;
                width: initial;
                min-height: initial;
                box-shadow: initial;
                background: initial;
                page-break-after: always;
            }
        }

        p {
            margin: 0;
            padding: 0;
        }

        .ft10 {
            font-size: 10px;
            font-family: Times;
            color: #000000;
        }

        .ft12 {
            font-size: 16px;
            font-family: Times;
            color: #000000;
        }
    </style>
</head>
<div class="page">
    <p style="text-align: end" class="ft10">LAMPIRAN IV</p>
    <p style="text-align: end" class="ft10">KEPUTUSAN DIREKTUR JENDERAL BIMBINGAN MASYARAKAT ISLAM</p>
    <p style="text-align: end" class="ft10">NOMOR 473 TAHUN 2020</p>
    <p style="text-align: end" class="ft10">TENTANG</p>
    <p style="text-align: end" class="ft10">PETUNJUK TEKNIS PELAKSANAAN PENCATATAN PERNIKAHAN</p>
    <br>
    <p style="text-align: center;" class="ft12"><b>FORMULIR PERMOHONAN KEHENDAK NIKAH</b></p>
    <p style="text-align: end" class="ft12">Model N2</p>
    <p style="text-align: end" class="ft12"><%= new Date(dr.tglreg).toLocaleDateString("id", {
            year: 'numeric',
            month: 'long',
            day: '2-digit'
        }) %></p>
    <p class="ft12">Perihal : Permohonan kehendak nikah</p>
    <p class="ft12">Kepada yth,</p>
    <p class="ft12">Kepala KUA Kecamatan</p>
    <p class="ft12">di Maron</p>
    <br>
    <p class="ft12">Dengan hormat, kami mengajukan permohonan kehendak nikah atas nama : </p>
    <table style="margin-left: 30px">
        <tr>
            <td><p class="ft12">Calon Suami</p></td>
            <td><p class="ft12">: <%= dr.data_lk.nama.toUpperCase() %></p></td>
        </tr>
        <tr>
            <td><p class="ft12">Calon Istri</p></td>
            <td><p class="ft12">: <%= dr.data_pr.nama.toUpperCase() %></p></td>
        </tr>
        <tr>
            <td><p class="ft12">Hari / Tanggal / Jam</p></td>
            <td id="waktunikah"></td>
        </tr>
        <tr>
            <td><p class="ft12">Mas Kawin</p></td>
            <td><p class="ft12">: <%= dr.mas_kawin %></p></td>
        </tr>
        <tr>
            <td><p class="ft12">Tempat Akad</p></td>
            <td><p class="ft12">: <%= dr.tempat_nikah %></p></td>
        </tr>
    </table>
    <br>
    <p class="ft12">Bersama ini kami sampaikan surat-surat yang diperlukan untuk diperiksa sebagai berikut:</p>
    <table style="margin-left: 30px">
        <tr>
            <td><p class="ft12">1. </p></td>
            <td><p class="ft12">Surat pengantar nikah dari Desa/Kelurahan</p></td>
        </tr>
        <tr>
            <td><p class="ft12">2. </p></td>
            <td><p class="ft12">Persetujuan calon mempelai</p></td>
        </tr>
        <tr>
            <td><p class="ft12">3. </p></td>
            <td><p class="ft12">Fotokopi KTP</p></td>
        </tr>
        <tr>
            <td><p class="ft12">4. </p></td>
            <td><p class="ft12">Fotokopi akte kelahiran</p></td>
        </tr>
        <tr>
            <td><p class="ft12">5. </p></td>
            <td><p class="ft12">Fotokopi kartu keluarga</p></td>
        </tr>
        <tr>
            <td><p class="ft12">6. </p></td>
            <td><p class="ft12">Paspoto 2x3 = 3 lembar berlatar belakang biru</p></td>
        </tr>
        <tr>
            <td><p class="ft12">7. </p></td>
            <td><p class="ft12">.............................................................</p></td>
        </tr>
        <tr>
            <td><p class="ft12">8. </p></td>
            <td><p class="ft12">.............................................................</p></td>
        </tr>
    </table>
    <br>
    <p class="ft12">Demikian permohonan ini kami sampaikan, kiranya dapat diperiksa, dihadiri, dan dicatat sesuai dengan
        ketentuan peraturan perundang-undangan.</p>
    <br>
    <p class="ft12" style="text-align: center">Wassalam.</p>
    <table class="table table-borderless">
        <tr>
            <td width="300px"><p class="ft12" style="text-align: center">Diterima tanggal ..............</p></td>
            <td width="300px"><p class="ft12" style="text-align: center">&nbsp;</p></td>
        </tr>
        <tr>
            <td><p class="ft12" style="text-align: center">Yang menerima,</p></td>
            <td><p class="ft12" style="text-align: center">Pemohon</p></td>
        </tr>
        <tr>
            <td><p class="ft12" style="text-align: center">Kepala KUA</p></td>
            <td><p class="ft12" style="text-align: center">&nbsp;</p></td>
        </tr>
        <tr>
            <td><p class="ft12" style="text-align: center">&nbsp;</p></td>
            <td><p class="ft12" style="text-align: center">&nbsp;</p></td>
        </tr>
        <tr>
            <td><p class="ft12" style="text-align: center">&nbsp;</p></td>
            <td><p class="ft12" style="text-align: center">&nbsp;</p></td>
        </tr>
        <tr>
            <td><p class="ft12" style="text-align: center">&nbsp;</p></td>
            <td><p class="ft12" style="text-align: center">&nbsp;</p></td>
        </tr>
        <tr>
            <td><p class="ft12"
                   style="text-align: center; text-decoration: underline; font-weight: bold">H. EKO HERIONO, MHI. M.Pd.I</p>
            </td>
            <td><p class="ft12"
                   style="text-align: center; text-decoration: underline; font-weight: bold"><%= dr.data_lk.nama.toUpperCase() %></p>
            </td>
        </tr>
        <tr>
            <td><p class="ft12" style="text-align: center; font-weight: bold">NIP. 196512312001121004</p></td>
            <td><p class="ft12" style="text-align: center">&nbsp;</p></td>
        </tr>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/id.min.js"></script>
<script>
    $(document).ready(function () {
        <% if (dr.tglnikah){ %>
        const wktnkh = moment(new Date("<%= dr.tglnikah %>")).format("dddd / DD MMMM YYYY / HH:mm");
        $('#waktunikah').html(': ' + wktnkh + ' WIB');
        console.log(wktnkh);
        <% } %>
    });
</script>
</body>
</html>