<%- include('../template/header') %>
<%- include('../template/close_head') %>
<%- include('../template/nav') %>
<form action="/nikah/masuk/editdata" method="post">
    <div class="mb-3 input-group input-group-outline is-filled">
        <label for="noreg" class="form-label">Nomor Register</label>
        <input type="text" class="form-control" id="noreg" name="noreg" value="<%= datanikah.noreg %>">
        <input type="date" class="form-control" id="tglregister" name="tglregister"
               value="<%= JSON.stringify(datanikah.tglregister).slice(1, 11) %>">
    </div>
    <hr class="mt-3 mb-3" style="border-top: 2px dashed blue;">
    <center><h1>Data Catin Wanita</h1></center>
    <div class="mb-3 input-group input-group-outline is-filled">
        <label for="nikpr" class="form-label">NIK</label>
        <input type="text" name="nikpr" id="nikpr" list="listpr" class="form-control" value="<%= datanikah.nikpr %>">
        <datalist id="listpr">
            <% pr.forEach((listpr) =>{ %>
                <option value="<%= listpr.nik %>"><%= listpr.nama %></option>
            <% }) %>
        </datalist>
    </div>
    <div class="mb-3">
        <select class="form-select input-group-outline" id="statuspr" name="statuspr" onchange="changepr()">
            <option value="<%= datanikah.statuspr %>"><%= datanikah.statuspr.charAt(0).toUpperCase() + datanikah.statuspr.slice(1) %></option>
            <option value="perawan">Perawan</option>
            <option value="janda">Janda</option>
            <% for (var i = 2; i <= 4; i++) { %>
                <option value='istri ke <%= i %>'>Istri ke <%= i %></option>
            <% } %>
        </select>
        <script>
            function changepr() {
                const sttpr = document.getElementById('statuspr').value;
                const noac = $("#noacdiv");
                if (sttpr == 'janda') {
                    noac.show();
                } else {
                    document.getElementById('noacpr').value = '';
                    noac.hide();
                }
            }
        </script>
    </div>
    <div class="mb-3 input-group input-group-outline<% if(datanikah.noacpr){ %> is-filled<% } %>"
         id="noacdiv">
        <label for="noacpr" class="form-label">NO AC</label>
        <input type="text" class="form-control" id="noacpr" name="noacpr"
               <% if(datanikah.noacpr){ %>value="<%= datanikah.noacpr %>"
                <% } %>
        >
    </div>
    <hr class="mt-3 mb-3" style="border-top: 2px dashed blue;">
    <center><h1>Data Ayah Catin Wanita</h1></center>
    <div class="mb-3">
        <select class="form-select input-group-outline" id="sttaypr" name="sttaypr" onchange="changeayahpr()">
            <% if(datanikah.sttaypr === 'ada'){ %>
                <option value="ada">Hidup</option>
                <option value="meninggal">Meninggal</option>
            <% } else { %>
                <option value="meninggal">Meninggal</option>
                <option value="ada">Hidup</option>
            <% } %>
        </select>
        <script>
            function changeayahpr() {
                const sttaypr = document.getElementById('sttaypr').value;
                const aypr = $("#ayahprdiv");
                const ayprmati = $("#ayahprmatidiv");
                if (sttaypr == 'ada') {
                    aypr.show();
                    ayprmati.hide();
                } else {
                    aypr.hide();
                    ayprmati.show();
                }
            }
        </script>
    </div>
    <div id="ayahprdiv">
        <div class="mb-3 input-group input-group-outline <% if(datanikah.nikaypr){ %> is-filled<% } %>">
            <label for="nikaypr" class="form-label">NIK</label>
            <input type="text" name="nikaypr" id="nikaypr" list="listaypr" class="form-control"
                    <% if(datanikah.nikaypr){ %>
                   value="<%= datanikah.nikaypr %>"
                    <% } %>
            >
            <datalist id="listaypr">
                <% lk.forEach((listlk) =>{ %>
                    <option value="<%= listlk.nik %>"><%= listlk.nama %></option>
                <% }) %>
            </datalist>
        </div>
        <div class="mb-3 input-group input-group-outline<% if(datanikah.binaypr){ %> is-filled"
        <% } %>
        ">
        <label for="binaypr" class="form-label">Bin</label>
        <input type="text" class="form-control" id="binaypr" name="binaypr"
                <% if(datanikah.binaypr){ %>
               value="<%= datanikah.binaypr %>"
                <% } %>
        >
    </div>
    </div>
    <div id="ayahprmatidiv">
        <div class="mb-3 input-group input-group-outline<% if(datanikah.namaaypr){ %> is-filled<% } %>">
            <label for="namaaypr" class="form-label">Nama</label>
            <input type="text" class="form-control" id="namaaypr" name="namaaypr"
                    <% if(datanikah.namaaypr){ %>
                   value="<%= datanikah.namaaypr %>"
                    <% } %>
            >
        </div>
    </div>
    <hr class="mt-3 mb-3" style="border-top: 2px dashed blue;">
    <center><h1>Data Ibu Catin Wanita</h1></center>
    <div class="mb-3">
        <select class="form-select input-group-outline" id="sttibpr" name="sttibpr" onchange="changeibpr()">
            <% if(datanikah.sttibpr === 'ada'){ %>
                <option value="ada">Hidup</option>
                <option value="meninggal">Meninggal</option>
            <% } else { %>
                <option value="meninggal">Meninggal</option>
                <option value="ada">Hidup</option>
            <% } %>
        </select>
        <script>
            function changeibpr() {
                const sttibpr = document.getElementById('sttibpr').value;
                const ibpr = $("#ibuprdiv");
                const ibprmati = $("#ibuprmatidiv");
                if (sttibpr == 'ada') {
                    ibpr.show();
                    ibprmati.hide();
                } else {
                    ibpr.hide();
                    ibprmati.show();
                }
            }
        </script>
    </div>
    <div id="ibuprdiv">
        <div class="mb-3 input-group input-group-outline <% if(datanikah.nikibpr){ %> is-filled<% } %>">
            <label for="nikibpr" class="form-label">NIK</label>
            <input type="text" name="nikibpr" id="nikibpr" list="listibpr" class="form-control" <% if(datanikah.nikibpr){ %>value="<%= datanikah.nikibpr%>" <% } %>>
            <datalist id="listibpr">
                <% pr.forEach((listpr) =>{ %>
                    <option value="<%= listpr.nik %>"><%= listpr.nama %></option>
                <% }) %>
            </datalist>
        </div>
        <div class="mb-3 input-group input-group-outline">
            <label for="bintiibpr" class="form-label">Binti</label>
            <input type="text" class="form-control" id="bintiibpr" name="bintiibpr">
        </div>
    </div>
    <div id="ibuprmatidiv">
        <div class="mb-3 input-group input-group-outline">
            <label for="namaibpr" class="form-label">Nama</label>
            <input type="text" class="form-control" id="namaibpr" name="namaibpr">
        </div>
    </div>
    <hr class="mt-3 mb-3" style="border-top: 2px dashed blue;">
    <center><h1>Data Catin Pria</h1></center>
    <div class="mb-3 input-group input-group-outline">
        <label for="niklk" class="form-label">NIK</label>
        <input type="text" name="niklk" id="niklk" list="listlk" class="form-control">
        <datalist id="listlk">
            <% lk.forEach((listlk) =>{ %>
                <option value="<%= listlk.nik %>"><%= listlk.nama %></option>
            <% }) %>
        </datalist>
    </div>
    <div class="mb-3 input-group input-group-outline">
        <label for="binlk" class="form-label">BIN</label>
        <input type="text" class="form-control" id="binlk" name="binlk">
    </div>
    <div class="mb-3">
        <select class="form-select input-group-outline" id="statuslk" name="statuslk" onchange="changelk()">
            <option value="jejaka">Jejaka</option>
            <option value="duda">Duda</option>
        </select>
        <script>
            function changelk() {
                const sttlk = document.getElementById('statuslk').value;
                const noaclk = $("#noaclkdiv");
                if (sttlk == 'duda') {
                    noaclk.show();
                } else {
                    noaclk.hide();
                }
            }
        </script>
    </div>
    <div class="mb-3 input-group input-group-outline" id="noaclkdiv">
        <label for="noaclk" class="form-label">NO AC</label>
        <input type="text" class="form-control" id="noaclk" name="noaclk">
    </div>
    <hr style="border-top: 2px dashed blue;">
    <center><h1>Status Perkawinan</h1></center>
    <div class="mb-3">
        <select class="form-select input-group-outline" id="sttkeldes" name="sttkeldes" onchange="sttkeldescek()">
            <option value="beda">Beda Desa / Kelurahan</option>
            <option value="satu">Satu Desa / Kelurahan</option>
        </select>
        <script>
            function sttkeldescek() {
                const sttkeldesval = document.getElementById('sttkeldes').value;
                const keldesdiv = $("#sttkeldesdiv");
                if (sttkeldesval == 'satu') {
                    keldesdiv.show();
                } else {
                    keldesdiv.hide();
                }
            }
        </script>
    </div>
    <div id="sttkeldesdiv">
        <hr style="border-top: 2px dashed blue;">
        <center><h1>Data Ayah Catin Pria</h1></center>
        <div class="mb-3">
            <select class="form-select input-group-outline" id="sttaylk" name="sttaylk" onchange="changeayahlk()">
                <option value="ada">Hidup</option>
                <option value="meninggal">Meninggal</option>
            </select>
            <script>
                function changeayahlk() {
                    const sttaylk = document.getElementById('sttaylk').value;
                    const aylk = $("#ayahlkdiv");
                    const aylkmati = $("#ayahlkmatidiv");
                    if (sttaylk == 'ada') {
                        aylk.show();
                        aylkmati.hide();
                    } else {
                        aylk.hide();
                        aylkmati.show();
                    }
                }
            </script>
        </div>
        <div id="ayahlkdiv">
            <div class="mb-3 input-group input-group-outline">
                <label for="nikaylk" class="form-label">NIK</label>
                <input type="text" name="nikaylk" id="nikaylk" list="listaylk" class="form-control">
                <datalist id="listaylk">
                    <% lk.forEach((listlk) =>{ %>
                        <option value="<%= listlk.nik %>"><%= listlk.nama %></option>
                    <% }) %>
                </datalist>
            </div>
            <div class="mb-3 input-group input-group-outline">
                <label for="binaylk" class="form-label">Bin</label>
                <input type="text" class="form-control" id="binaylk" name="binaylk">
            </div>
        </div>
        <div id="ayahlkmatidiv">
            <div class="mb-3 input-group input-group-outline">
                <label for="namaaylk" class="form-label">Nama</label>
                <input type="text" class="form-control" id="namaaylk" name="namaaylk">
            </div>
        </div>
        <hr style="border-top: 2px dashed blue;">
        <center><h1>Data Ibu Catin Pria</h1></center>
        <div class="mb-3">
            <select class="form-select input-group-outline" id="sttiblk" name="sttiblk" onchange="changeibulk()">
                <option value="ada">Hidup</option>
                <option value="meninggal">Meninggal</option>
            </select>
            <script>
                function changeibulk() {
                    const sttiblk = document.getElementById('sttiblk').value;
                    const iblk = $("#ibulkdiv");
                    const iblkmati = $("#ibulkmatidiv");
                    if (sttiblk == 'ada') {
                        iblk.show();
                        iblkmati.hide();
                    } else {
                        iblk.hide();
                        iblkmati.show();
                    }
                }
            </script>
        </div>
        <div id="ibulkdiv">
            <div class="mb-3 input-group input-group-outline">
                <label for="nikiblk" class="form-label">NIK</label>
                <input type="text" name="nikiblk" id="nikiblk" list="listiblk" class="form-control">
                <datalist id="listiblk">
                    <% pr.forEach((listpr) =>{ %>
                        <option value="<%= listpr.nik %>"><%= listpr.nama %></option>
                    <% }) %>
                </datalist>
            </div>
            <div class="mb-3 input-group input-group-outline">
                <label for="bintiiblk" class="form-label">Bin</label>
                <input type="text" class="form-control" id="bintiiblk" name="bintiiblk">
            </div>
        </div>
        <div id="ibulkmatidiv">
            <div class="mb-3 input-group input-group-outline">
                <label for="namaiblk" class="form-label">Nama</label>
                <input type="text" class="form-control" id="namaiblk" name="namaiblk">
            </div>
        </div>
    </div>
    <hr class="mt-3 mb-3" style="border-top: 2px dashed blue;">
    <center><h1>Data Wali</h1></center>
    <div class="mb-3">
        <select class="form-select input-group-outline" id="walinikah" name="walinikah" onchange="changewali()">
            <option value="ayah">Ayah</option>
            <option value="hakim">Wali Hakim</option>
            <option value="lainnya">Lainnya</option>
        </select>
        <script>
            function changewali() {
                const wali = document.getElementById('walinikah').value;
                const walidiv = $("#walidiv");
                if (wali == 'lainnya') {
                    walidiv.show();
                } else {
                    walidiv.hide();
                }
            }
        </script>
    </div>
    <div id="walidiv">
        <div class="mb-3 input-group input-group-outline">
            <label for="nikwali" class="form-label">NIK</label>
            <input type="text" name="nikwali" id="nikwali" list="listwali" class="form-control">
            <datalist id="listwali">
                <% lk.forEach((listlk) =>{ %>
                    <option value="<%= listlk.nik %>"><%= listlk.nama %></option>
                <% }) %>
            </datalist>
        </div>
        <div class="mb-3 input-group input-group-outline">
            <label for="hubungan_wali" class="form-label">Hubungan</label>
            <input type="text" class="form-control" id="hubungan_wali" name="hubungan_wali">
        </div>
    </div>

    <hr style="border-top: 2px dashed blue;">
    <center><h1>Data Acara</h1></center>
    <div class="mb-3 input-group input-group-outline">
        <label for="tempat_nikah" class="form-label">Tempat Nikah</label>
        <input type="text" class="form-control" id="tempat_nikah" name="tempat_nikah">
        <input type="datetime-local" class="form-control" id="tglnikah" name="tglnikah">
    </div>
    <div class="mb-3 input-group input-group-outline">
        <label for="mas_kawin" class="form-label">Mas Kawin</label>
        <input type="text" class="form-control" id="mas_kawin" name="mas_kawin">
    </div>
    <hr style="border-top: 2px dashed green;">
    <center>
        <button type="submit" class="mb-3 btn btn-success">Simpan</button>
    </center>
</form>
<%- include('../template/footer') %>
<script>
    $(document).ready(function () {
        $("#noaclkdiv").hide();
        $("#ayahprmatidiv").hide();
        $("#ibuprmatidiv").hide();
        $("#sttkeldesdiv").hide();
        $("#ayahlkmatidiv").hide();
        $("#ibulkmatidiv").hide();
        $("#walidiv").hide();
        changepr();
        changeayahpr();
        changeibpr();
        changelk();
        changeibulk();
        changeayahlk();
        changewali();
    });
</script>
<%- include('../template/close_foot') %>