<%- include('../../template/header') %>
<%- include('../../template/close_head') %>
<%- include('../../template/nav') %>
<center><h3>Data Register</h3></center>
<table>
    <tr>
        <td>Nomor Register</td>
        <td>: <%= dr.noreg %></td>
    </tr>
    <tr>
        <td>Tanggal Register</td>
        <td id="tglregister"></td>
    </tr>
    <tr>
        <td>Status Pernikahan</td>
        <td>:
            <% if(dr.status_keldes === 'beda'){ %>
                Beda
            <% } else { %>
                Satu
            <% } %>
            desa / kelurahan
        </td>
    </tr>
</table>
<hr class="mt-3 mb-3" style="border-top: 2px dashed blue;">
<center><h3>Data Catin Wanita</h3></center>
<table>
    <tr>
        <td>NIK</td>
        <td>: <%= dr.data_pr.nik %></td>
    </tr>
    <tr>
        <td>Nama</td>
        <td>: <%= dr.data_pr.nama %></td>
    </tr>
    <tr>
        <td>Status</td>
        <td>: <%= dr.data_pr.status.toUpperCase() %></td>
    </tr>
    <% if(dr.data_pr.noac) { %>
        <tr>
            <td>No AC</td>
            <td>: <%= dr.data_pr.noac.toUpperCase() %></td>
        </tr>
    <% } %>
    <tr>
        <td>TTL</td>
        <td id="ttlpr"></td>
    </tr>
    <tr>
        <td>Pekerjaan</td>
        <td>: <%= dr.data_pr.pekerjaan.toUpperCase() %></td>
    </tr>
    <tr>
        <td>Agama</td>
        <td>: <%= dr.data_pr.agama.toUpperCase() %></td>
    </tr>
    <tr>
        <td>Kewarganegaraan</td>
        <td>: <%= dr.data_pr.wn.toUpperCase() %></td>
    </tr>
    <tr>
        <td>Alamat</td>
        <td>: <%= dr.data_pr.jalan %> RT <%= dr.data_pr.rt %> RW <%= dr.data_pr.rw %>, <%= dr.data_pr.keldes %>
            - <%= dr.data_pr.kec %> - <%= dr.data_pr.kabkot.toLowerCase() %> - <%= dr.data_pr.prov.toUpperCase() %></td>
    </tr>
</table>
<hr class="mt-3 mb-3" style="border-top: 2px dashed blue;">
<center><h3>Data Ayah Catin Wanita</h3></center>
<table>
    <% if (dr.data_aypr.status === 'ada') { %>
        <tr>
            <td>NIK</td>
            <td>: <%= dr.data_aypr.nik %></td>
        </tr>
        <tr>
            <td>Nama</td>
            <td>: <%= dr.data_aypr.nama %></td>
        </tr>
        <tr>
            <td>Bin</td>
            <td>: <%= dr.data_aypr.bin %></td>
        </tr>
        <tr>
            <td>TTL</td>
            <td id="ttlaypr"></td>
        </tr>
        <tr>
            <td>Pekerjaan</td>
            <td>: <%= dr.data_aypr.pekerjaan.toUpperCase() %></td>
        </tr>
        <tr>
            <td>Agama</td>
            <td>: <%= dr.data_aypr.agama.toUpperCase() %></td>
        </tr>
        <tr>
            <td>Kewarganegaraan</td>
            <td>: <%= dr.data_aypr.wn.toUpperCase() %></td>
        </tr>
        <tr>
            <td>Alamat</td>
            <td>: <%= dr.data_aypr.jalan %> RT <%= dr.data_aypr.rt %> RW <%= dr.data_aypr.rw %>
                , <%= dr.data_aypr.keldes %> - <%= dr.data_aypr.kec %> - <%= dr.data_aypr.kabkot.toLowerCase() %>
                - <%= dr.data_aypr.prov.toUpperCase() %></td>
        </tr>
    <% } else { %>
        <tr>
            <td>Nama</td>
            <td>: <%= dr.data_aypr.nama %></td>
        </tr>
        <tr>
            <td>Status</td>
            <td>: Meninggal / Almarhum</td>
        </tr>
    <% } %>
</table>
<hr class="mt-3 mb-3" style="border-top: 2px dashed blue;">
<center><h3>Data Ibu Catin Wanita</h3></center>
<table>
    <% if (dr.data_ibpr.status === 'ada') { %>
        <tr>
            <td>NIK</td>
            <td>: <%= dr.data_ibpr.nik %></td>
        </tr>
        <tr>
            <td>Nama</td>
            <td>: <%= dr.data_ibpr.nama %></td>
        </tr>
        <tr>
            <td>Bin</td>
            <td>: <%= dr.data_ibpr.binti %></td>
        </tr>
        <tr>
            <td>TTL</td>
            <td id="ttlibpr"></td>
        </tr>
        <tr>
            <td>Pekerjaan</td>
            <td>: <%= dr.data_ibpr.pekerjaan.toUpperCase() %></td>
        </tr>
        <tr>
            <td>Agama</td>
            <td>: <%= dr.data_ibpr.agama.toUpperCase() %></td>
        </tr>
        <tr>
            <td>Kewarganegaraan</td>
            <td>: <%= dr.data_ibpr.wn.toUpperCase() %></td>
        </tr>
        <tr>
            <td>Alamat</td>
            <td>: <%= dr.data_ibpr.jalan %> RT <%= dr.data_ibpr.rt %> RW <%= dr.data_ibpr.rw %>
                , <%= dr.data_ibpr.keldes %> - <%= dr.data_ibpr.kec %> - <%= dr.data_ibpr.kabkot.toLowerCase() %>
                - <%= dr.data_ibpr.prov.toUpperCase() %></td>
        </tr>
    <% } else { %>
        <tr>
            <td>Nama</td>
            <td>: <%= dr.data_ibpr.nama %></td>
        </tr>
        <tr>
            <td>Status</td>
            <td>: Meninggal / Almarhumah</td>
        </tr>
    <% } %>
</table>
<hr class="mt-3 mb-3" style="border-top: 2px dashed blue;">
<center><h3>Data Catin Pria</h3></center>
<table>
    <tr>
        <td>NIK</td>
        <td>: <%= dr.data_lk.nik %></td>
    </tr>
    <tr>
        <td>Nama</td>
        <td>: <%= dr.data_lk.nama %></td>
    </tr>
    <tr>
        <td>Bin</td>
        <td>: <%= dr.data_lk.bin %></td>
    </tr>
    <tr>
        <td>Status</td>
        <td>: <%= dr.data_lk.status.toUpperCase() %></td>
    </tr>
    <% if(dr.data_lk.noac) { %>
        <tr>
            <td>No AC</td>
            <td>: <%= dr.data_lk.noac.toUpperCase() %></td>
        </tr>
    <% } %>
    <tr>
        <td>TTL</td>
        <td id="ttllk"></td>
    </tr>
    <tr>
        <td>Pekerjaan</td>
        <td>: <%= dr.data_lk.pekerjaan.toUpperCase() %></td>
    </tr>
    <tr>
        <td>Agama</td>
        <td>: <%= dr.data_lk.agama.toUpperCase() %></td>
    </tr>
    <tr>
        <td>Kewarganegaraan</td>
        <td>: <%= dr.data_lk.wn.toUpperCase() %></td>
    </tr>
    <tr>
        <td>Alamat</td>
        <td>: <%= dr.data_lk.jalan %> RT <%= dr.data_lk.rt %> RW <%= dr.data_lk.rw %>, <%= dr.data_lk.keldes %>
            - <%= dr.data_lk.kec %> - <%= dr.data_lk.kabkot.toLowerCase() %> - <%= dr.data_lk.prov.toUpperCase() %></td>
    </tr>
</table>
<hr class="mt-3 mb-3" style="border-top: 2px dashed blue;">
<% if (dr.data_aylk){ %>
    <center><h3>Data Ayah Catin Pria</h3></center>
    <table>
        <% if (dr.data_aylk.status === 'ada') { %>
            <tr>
                <td>NIK</td>
                <td>: <%= dr.data_aylk.nik %></td>
            </tr>
            <tr>
                <td>Nama</td>
                <td>: <%= dr.data_aylk.nama %></td>
            </tr>
            <tr>
                <td>Bin</td>
                <td>: <%= dr.data_aylk.bin %></td>
            </tr>
            <tr>
                <td>TTL</td>
                <td id="ttlaylk"></td>
            </tr>
            <tr>
                <td>Pekerjaan</td>
                <td>: <%= dr.data_aylk.pekerjaan.toUpperCase() %></td>
            </tr>
            <tr>
                <td>Agama</td>
                <td>: <%= dr.data_aylk.agama.toUpperCase() %></td>
            </tr>
            <tr>
                <td>Kewarganegaraan</td>
                <td>: <%= dr.data_aylk.wn.toUpperCase() %></td>
            </tr>
            <tr>
                <td>Alamat</td>
                <td>: <%= dr.data_aylk.jalan %> RT <%= dr.data_aylk.rt %> RW <%= dr.data_aylk.rw %>
                    , <%= dr.data_aylk.keldes %> - <%= dr.data_aylk.kec %> - <%= dr.data_aylk.kabkot.toLowerCase() %>
                    - <%= dr.data_aylk.prov.toUpperCase() %></td>
            </tr>
        <% } else { %>
            <tr>
                <td>Nama</td>
                <td>: <%= dr.data_aylk.nama %></td>
            </tr>
            <tr>
                <td>Status</td>
                <td>: Meninggal / Almarhum</td>
            </tr>
        <% } %>
    </table>
    <hr class="mt-3 mb-3" style="border-top: 2px dashed blue;">
<% } %>
<% if (dr.data_iblk){ %>
    <center><h3>Data Ibu Catin Pria</h3></center>
    <table>
        <% if (dr.data_iblk.status === 'ada') { %>
            <tr>
                <td>NIK</td>
                <td>: <%= dr.data_iblk.nik %></td>
            </tr>
            <tr>
                <td>Nama</td>
                <td>: <%= dr.data_iblk.nama %></td>
            </tr>
            <tr>
                <td>Bin</td>
                <td>: <%= dr.data_iblk.binti %></td>
            </tr>
            <tr>
                <td>TTL</td>
                <td id="ttliblk"></td>
            </tr>
            <tr>
                <td>Pekerjaan</td>
                <td>: <%= dr.data_iblk.pekerjaan.toUpperCase() %></td>
            </tr>
            <tr>
                <td>Agama</td>
                <td>: <%= dr.data_iblk.agama.toUpperCase() %></td>
            </tr>
            <tr>
                <td>Kewarganegaraan</td>
                <td>: <%= dr.data_iblk.wn.toUpperCase() %></td>
            </tr>
            <tr>
                <td>Alamat</td>
                <td>: <%= dr.data_iblk.jalan %> RT <%= dr.data_iblk.rt %> RW <%= dr.data_iblk.rw %>
                    , <%= dr.data_iblk.keldes %> - <%= dr.data_iblk.kec %> - <%= dr.data_iblk.kabkot.toLowerCase() %>
                    - <%= dr.data_iblk.prov.toUpperCase() %></td>
            </tr>
        <% } else { %>
            <tr>
                <td>Nama</td>
                <td>: <%= dr.data_iblk.nama %></td>
            </tr>
            <tr>
                <td>Status</td>
                <td>: Meninggal / Almarhumah</td>
            </tr>
        <% } %>
    </table>
    <hr class="mt-3 mb-3" style="border-top: 2px dashed blue;">
<% } %>
<center><h3>Wali Nikah</h3></center>
<table>
    <% if(dr.wali === 'lainnya'){ %>
        <tr>
            <td>NIK</td>
            <td>: <%= dr.data_wali.nik %></td>
        </tr>
        <tr>
            <td>Nama</td>
            <td>: <%= dr.data_wali.nama %></td>
        </tr>
        <tr>
            <td>Bin</td>
            <td>: <%= dr.data_wali.binti %></td>
        </tr>
        <tr>
            <td>Status Hubungan</td>
            <td>: <%= dr.data_wali.hubungan %></td>
        </tr>
        <tr>
            <td>TTL</td>
            <td id="ttlwali"></td>
        </tr>
        <tr>
            <td>Pekerjaan</td>
            <td>: <%= dr.data_wali.pekerjaan.toUpperCase() %></td>
        </tr>
        <tr>
            <td>Agama</td>
            <td>: <%= dr.data_wali.agama.toUpperCase() %></td>
        </tr>
        <tr>
            <td>Kewarganegaraan</td>
            <td>: <%= dr.data_wali.wn.toUpperCase() %></td>
        </tr>
        <tr>
            <td>Alamat</td>
            <td>: <%= dr.data_wali.jalan %> RT <%= dr.data_wali.rt %> RW <%= dr.data_wali.rw %>
                , <%= dr.data_wali.keldes %> - <%= dr.data_wali.kec %> - <%= dr.data_wali.kabkot.toLowerCase() %>
                - <%= dr.data_wali.prov.toUpperCase() %></td>
        </tr>
    <% } else { %>
        <tr>
            <td>Wali Nikah</td>
            <td>: <%= dr.wali.toUpperCase() %></td>
        </tr>
    <% } %>
</table>
<hr class="mt-3 mb-3" style="border-top: 2px dashed blue;">
<center><h3>Data Acara</h3></center>
<table>
    <tr>
        <td>Tempat Nikah</td>
        <td>: <%= dr.tempat_nikah %></td>
    </tr>
    <tr>
        <td>Waktu Nikah</td>
        <td id="waktunikah"></td>
    </tr>
    <tr>
        <td>Mas Kawin</td>
        <td>: <%= dr.mas_kawin %></td>
    </tr>
</table>
<hr class="mt-3 mb-3" style="border-top: 4px dashed green;">
<center><h3>Cetak Model</h3></center>
<center>
    <% if(dr.status_keldes !== 'beda'){ %>
        <a href="/cetak/n1pria/<%= dr.id %>" target="_blank">
            <button type="button" class="btn btn-success">N1 Pria</button>
        </a>
    <% } %>
    <a href="/cetak/n1wanita/<%= dr.id %>" target="_blank">
        <button type="button" class="btn btn-success">N1 Wanita</button>
    </a>
    <a href="/cetak/n2/<%= dr.id %>" target="_blank">
        <button type="button" class="btn btn-success">N2</button>
    </a>
    <a href="/cetak/n4/<%= dr.id %>" target="_blank">
        <button type="button" class="btn btn-success">N4</button>
    </a>
    <a href="/cetak/n5/<%= dr.id %>" target="_blank">
        <button type="button" class="btn btn-success">N5</button>
    </a>
    <a href="/cetak/wali/<%= dr.id %>" target="_blank">
        <button type="button" class="btn btn-success">Wali Nikah</button>
    </a>
    <a href="/cetak/kuasa/<%= dr.id %>" target="_blank">
        <button type="button" class="btn btn-success">Surat Kuasa</button>
    </a>
    <% if(dr.data_pr.status === 'perawan'){ %>
        <a href="/cetak/tt/<%= dr.id %>" target="_blank">
            <button type="button" class="btn btn-success">TT Nikah</button>
        </a>
    <% } %>
</center>
<hr class="mt-3 mb-3" style="border-top: 2px dashed black;">
<%- include('../../template/footer') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/id.min.js"></script>
<script>
    $(document).ready(function () {
        <% if (dr.data_aypr.tanggal_lahir){ %>
        const tglaypr = moment(new Date("<%= dr.data_aypr.tanggal_lahir %>")).format("DD MMMM YYYY");
        $('#ttlaypr').html(': ' + '<%= dr.data_aypr.tempat_lahir %>'.toUpperCase() + ', ' + tglaypr);
        <% } %>
        <% if (dr.data_ibpr.tanggal_lahir){ %>
        const tglibpr = moment(new Date("<%= dr.data_ibpr.tanggal_lahir %>")).format("DD MMMM YYYY");
        $('#ttlibpr').html(': ' + '<%= dr.data_ibpr.tempat_lahir %>'.toUpperCase() + ', ' + tglibpr);
        <% } %>
        <% if (dr.data_aylk){ %>
        const tglaylk = moment(new Date("<%= dr.data_aylk.tanggal_lahir %>")).format("DD MMMM YYYY");
        $('#ttlaylk').html(': ' + '<%= dr.data_aylk.tempat_lahir %>'.toUpperCase() + ', ' + tglaylk);
        <% } %>
        <% if (dr.data_iblk){ %>
        const tgliblk = moment(new Date("<%= dr.data_iblk.tanggal_lahir %>")).format("DD MMMM YYYY");
        $('#ttliblk').html(': ' + '<%= dr.data_iblk.tempat_lahir %>'.toUpperCase() + ', ' + tgliblk);
        <% } %>
        <% if (dr.data_wali){ %>
        const tglwali = moment(new Date("<%= dr.data_wali.tanggal_lahir %>")).format("DD MMMM YYYY");
        $('#ttlwali').html(': ' + '<%= dr.data_wali.tempat_lahir %>'.toUpperCase() + ', ' + tglwali);
        <% } %>
        <% if (dr.tglnikah){ %>
        const wktnkh = moment(new Date("<%= dr.tglnikah %>")).format("dddd, DD MMMM YYYY HH:mm");
        $('#waktunikah').html(': ' + wktnkh + ' WIB');
        <% } %>
        const tglreg = moment(new Date("<%= dr.tglreg %>")).format("dddd, DD MMMM YYYY");
        const tglpr = moment(new Date("<%= dr.data_pr.tanggal_lahir %>")).format("DD MMMM YYYY");
        const tgllk = moment(new Date("<%= dr.data_lk.tanggal_lahir %>")).format("DD MMMM YYYY");
        $('#tglregister').html(': ' + tglreg);
        $('#ttlpr').html(': ' + '<%= dr.data_pr.tempat_lahir %>'.toUpperCase() + ', ' + tglpr);
        $('#ttllk').html(': ' + '<%= dr.data_lk.tempat_lahir %>'.toUpperCase() + ', ' + tgllk);
    });
</script>
<%- include('../../template/close_foot') %>