<%- include('../../template/header') %>
<%- include('../../template/close_head') %>
<%- include('../../template/nav') %>
<form action="/nikah/masuk/edit?_method=PUT" method="post">
    <input type="hidden" class="form-control" id="id" name="id" value="<%= datanikah._id %>" required>
    <input type="hidden" class="form-control" id="noreg_ori" name="noreg_ori" value="<%= datanikah.noreg %>" required>
    <div class="mb-3 input-group input-group-outline is-filled">
        <label for="noreg" class="form-label">Nomor Register</label>
        <input type="text" class="form-control" id="noreg" name="noreg" value="<%= datanikah.noreg %>">
        <input type="date" class="form-control" id="tglregister" name="tglregister"
               value="<%= datanikah.tglregister%>">
    </div>
    <hr class="mt-3 mb-3" style="border-top: 2px dashed blue;">
    <center><h1>Data Catin Wanita</h1></center>
    <div class="mb-3 input-group input-group-outline is-filled">
        <label for="nikpr" class="form-label">NIK</label>
        <input type="text" name="nikpr" id="nikpr" list="listpr" class="form-control"
               value="<%= datanikah.datapr.nik %>">
        <datalist id="listpr">
            <% pr.forEach((listpr) =>{ %>
                <option value="<%= listpr.nik %>"><%= listpr.nama %></option>
            <% }) %>
        </datalist>
    </div>
    <div class="mb-3">
        <select class="form-select input-group-outline" id="statuspr" name="statuspr" onchange="changepr()">
            <option value="<%= datanikah.datapr.status %>"><%= datanikah.datapr.status.charAt(0).toUpperCase() + datanikah.datapr.status.slice(1) %></option>
            <option value="perawan">Perawan</option>
            <option value="janda">Janda</option>
            <% for (var i = 2; i <= 4; i++) { %>
                <option value='istri ke <%= i %>'>Istri ke <%= i %></option>
            <% } %>
        </select>
        <script>
            function changepr() {
                const sttpr = document.getElementById('statuspr').value;
                const noac = $("#noacdiv");
                if (sttpr == 'janda') {
                    noac.show();
                } else {
                    document.getElementById('noacpr').value = '';
                    noac.hide();
                }
            }
        </script>
    </div>
    <div class="mb-3 input-group input-group-outline<% if(datanikah.datapr.noac){ %> is-filled<% } %>"
         id="noacdiv">
        <label for="noacpr" class="form-label">NO AC</label>
        <input type="text" class="form-control" id="noacpr" name="noacpr"
               <% if(datanikah.datapr.noac){ %>value="<%= datanikah.datapr.noac %>"
                <% } %>
        >
    </div>
    <hr class="mt-3 mb-3" style="border-top: 2px dashed blue;">
    <center><h1>Data Ayah Catin Wanita</h1></center>
    <div class="mb-3">
        <select class="form-select input-group-outline" id="sttaypr" name="sttaypr" onchange="changeayahpr()">
            <% if(datanikah.datapr.sttay === 'ada'){ %>
                <option value="ada">Hidup</option>
                <option value="meninggal">Meninggal</option>
            <% } else { %>
                <option value="meninggal">Meninggal</option>
                <option value="ada">Hidup</option>
            <% } %>
        </select>
        <script>
            function changeayahpr() {
                const sttaypr = document.getElementById('sttaypr').value;
                const aypr = $("#ayahprdiv");
                const ayprmati = $("#ayahprmatidiv");
                if (sttaypr == 'ada') {
                    aypr.show();
                    ayprmati.hide();
                } else {
                    aypr.hide();
                    ayprmati.show();
                }
            }
        </script>
    </div>
    <div id="ayahprdiv">
        <div class="mb-3 input-group input-group-outline <% if(datanikah.datapr.nikay){ %> is-filled<% } %>">
            <label for="nikaypr" class="form-label">NIK</label>
            <input type="text" name="nikaypr" id="nikaypr" list="listaypr" class="form-control"
            <% if(datanikah.datapr.nikay){ %>
                   value="<%= datanikah.datapr.nikay %>"
                    <% } %>
            >
            <datalist id="listaypr">
                <% lk.forEach((listlk) =>{ %>
                    <option value="<%= listlk.nik %>"><%= listlk.nama %></option>
                <% }) %>
            </datalist>
        </div>
        <div class="mb-3 input-group input-group-outline<% if(datanikah.datapr.binay){ %> is-filled<% } %>">
        <label for="binaypr" class="form-label">Bin</label>
        <input type="text" class="form-control" id="binaypr" name="binaypr"
        <% if(datanikah.datapr.binay){ %>
               value="<%= datanikah.datapr.binay %>"
                <% } %>
        >
    </div>
    </div>
    <div id="ayahprmatidiv">
        <div class="mb-3 input-group input-group-outline<% if(datanikah.datapr.namaay){ %> is-filled<% } %>">
            <label for="namaaypr" class="form-label">Nama</label>
            <input type="text" class="form-control" id="namaaypr" name="namaaypr"
            <% if(datanikah.datapr.namaay){ %>
                   value="<%= datanikah.datapr.namaay %>"
                    <% } %>
            >
        </div>
    </div>
    <hr class="mt-3 mb-3" style="border-top: 2px dashed blue;">
    <center><h1>Data Ibu Catin Wanita</h1></center>
    <div class="mb-3">
        <select class="form-select input-group-outline" id="sttibpr" name="sttibpr" onchange="changeibpr()">
            <% if(datanikah.datapr.sttib === 'ada'){ %>
                <option value="ada">Hidup</option>
                <option value="meninggal">Meninggal</option>
            <% } else { %>
                <option value="meninggal">Meninggal</option>
                <option value="ada">Hidup</option>
            <% } %>
        </select>
        <script>
            function changeibpr() {
                const sttibpr = document.getElementById('sttibpr').value;
                const ibpr = $("#ibuprdiv");
                const ibprmati = $("#ibuprmatidiv");
                if (sttibpr == 'ada') {
                    ibpr.show();
                    ibprmati.hide();
                } else {
                    ibpr.hide();
                    ibprmati.show();
                }
            }
        </script>
    </div>
    <div id="ibuprdiv">
        <div class="mb-3 input-group input-group-outline <% if(datanikah.datapr.nikib){ %> is-filled<% } %>">
            <label for="nikibpr" class="form-label">NIK</label>
            <input type="text" name="nikibpr" id="nikibpr" list="listibpr" class="form-control"
                   <% if(datanikah.datapr.nikib){ %>value="<%= datanikah.datapr.nikib %>"
                    <% } %>
            >
            <datalist id="listibpr">
                <% pr.forEach((listpr) =>{ %>
                    <option value="<%= listpr.nik %>"><%= listpr.nama %></option>
                <% }) %>
            </datalist>
        </div>
        <div class="mb-3 input-group input-group-outline <% if(datanikah.datapr.bintiib){ %> is-filled<% } %>">
            <label for="bintiibpr" class="form-label">Binti</label>
            <input type="text" class="form-control" id="bintiibpr" name="bintiibpr"
            <% if(datanikah.datapr.bintiib){ %> value="<%= datanikah.datapr.bintiib %>"
                    <% } %>
            >
        </div>
    </div>
    <div id="ibuprmatidiv">
        <div class="mb-3 input-group input-group-outline <% if(datanikah.datapr.namaib){ %> is-filled<% } %>">
            <label for="namaibpr" class="form-label">Nama</label>
            <input type="text" class="form-control" id="namaibpr" name="namaibpr"
            <% if(datanikah.datapr.namaib){ %> value="<%= datanikah.datapr.namaib %>"
                    <% } %>
            >
        </div>
    </div>
    <hr class="mt-3 mb-3" style="border-top: 2px dashed blue;">
    <center><h1>Data Catin Pria</h1></center>
    <div class="mb-3 input-group input-group-outline is-filled">
        <label for="niklk" class="form-label">NIK</label>
        <input type="text" name="niklk" id="niklk" list="listlk" class="form-control"
               value="<%= datanikah.datalk.nik %>">
        <datalist id="listlk">
            <% lk.forEach((listlk) =>{ %>
                <option value="<%= listlk.nik %>"><%= listlk.nama %></option>
            <% }) %>
        </datalist>
    </div>
    <div class="mb-3 input-group input-group-outline <% if(datanikah.datalk.namaay){ %> is-filled<% } %>">
        <label for="binlk" class="form-label">BIN</label>
        <input type="text" class="form-control" id="binlk" name="binlk"
        <% if(datanikah.datalk.namaay){ %> value="<%= datanikah.datalk.namaay %>"
                <% } %>
        >
    </div>
    <div class="mb-3">
        <select class="form-select input-group-outline" id="statuslk" name="statuslk" onchange="changelk()">
            <% if(datanikah.datalk.status === 'jejaka'){ %>
                <option value="jejaka">Jejaka</option>
                <option value="duda">Duda</option>
            <% } else { %>
                <option value="duda">Duda</option>
                <option value="jejaka">Jejaka</option>
            <% } %>
        </select>
        <script>
            function changelk() {
                const sttlk = document.getElementById('statuslk').value;
                const noaclk = $("#noaclkdiv");
                if (sttlk == 'duda') {
                    noaclk.show();
                } else {
                    noaclk.hide();
                }
            }
        </script>
    </div>
    <div class="mb-3 input-group input-group-outline <% if(datanikah.datalk.noac){ %> is-filled<% } %>" id="noaclkdiv">
        <label for="noaclk" class="form-label">NO AC</label>
        <input type="text" class="form-control" id="noaclk" name="noaclk"
        <% if(datanikah.datalk.noac){ %> value="<%= datanikah.datalk.noac %>"
                <% } %>
        >
    </div>
    <hr style="border-top: 2px dashed blue;">
    <center><h1>Status Perkawinan</h1></center>
    <div class="mb-3">
        <select class="form-select input-group-outline" id="sttkeldes" name="sttkeldes" onchange="sttkeldescek()">
            <% if(datanikah.sttkeldes === 'beda'){ %>
                <option value="beda">Beda Desa / Kelurahan</option>
                <option value="satu">Satu Desa / Kelurahan</option>
            <% } else { %>
                <option value="satu">Satu Desa / Kelurahan</option>
                <option value="beda">Beda Desa / Kelurahan</option>
            <% } %>
        </select>
        <script>
            function sttkeldescek() {
                const sttkeldesval = document.getElementById('sttkeldes').value;
                const keldesdiv = $("#sttkeldesdiv");
                if (sttkeldesval == 'satu') {
                    keldesdiv.show();
                } else {
                    keldesdiv.hide();
                }
            }
        </script>
    </div>
    <div id="sttkeldesdiv">
        <hr style="border-top: 2px dashed blue;">
        <center><h1>Data Ayah Catin Pria</h1></center>
        <div class="mb-3">
            <select class="form-select input-group-outline" id="sttaylk" name="sttaylk" onchange="changeayahlk()">
                <% if (datanikah.sttkeldes === 'satu'){ %>
                    <% if(datanikah.data_aylk.status === 'ada'){ %>
                        <option value="ada">Hidup</option>
                        <option value="meninggal">Meninggal</option>
                    <% } else { %>
                        <option value="meninggal">Meninggal</option>
                        <option value="ada">Hidup</option>
                    <% } %>
                <% } else{ %>
                    <option value="ada">Hidup</option>
                    <option value="meninggal">Meninggal</option>
                <% } %>
            </select>
            <script>
                function changeayahlk() {
                    const sttaylk = document.getElementById('sttaylk').value;
                    const aylk = $("#ayahlkdiv");
                    const aylkmati = $("#ayahlkmatidiv");
                    if (sttaylk == 'ada') {
                        aylk.show();
                        aylkmati.hide();
                    } else {
                        aylk.hide();
                        aylkmati.show();
                    }
                }
            </script>
        </div>
        <div id="ayahlkdiv">
            <div class="mb-3 input-group input-group-outline  <% if(datanikah.datalk.nikay){ %> is-filled<% } %>">
                <label for="nikaylk" class="form-label">NIK</label>
                <input type="text" name="nikaylk" id="nikaylk" list="listaylk" class="form-control"
                <% if(datanikah.datalk.nikay){ %> value="<%= datanikah.datalk.nikay %>"
                        <% } %>
                >
                <datalist id="listaylk">
                    <% lk.forEach((listlk) =>{ %>
                        <option value="<%= listlk.nik %>"><%= listlk.nama %></option>
                    <% }) %>
                </datalist>
            </div>
            <div class="mb-3 input-group input-group-outline <% if(datanikah.datalk.binay){ %> is-filled<% } %>">
                <label for="binaylk" class="form-label">Bin</label>
                <input type="text" class="form-control" id="binaylk" name="binaylk"
                <% if(datanikah.datalk.binay){ %> value="<%= datanikah.datalk.binay %>"
                        <% } %>
                >
            </div>
        </div>
        <div id="ayahlkmatidiv">
            <div class="mb-3 input-group input-group-outline <% if(datanikah.datalk.namaay){ %> is-filled<% } %>">
                <label for="namaaylk" class="form-label">Nama</label>
                <input type="text" class="form-control" id="namaaylk" name="namaaylk"
                <% if(datanikah.datalk.namaay){ %> value="<%= datanikah.datalk.namaay %>"
                        <% } %>
                >
            </div>
        </div>
        <hr style="border-top: 2px dashed blue;">
        <center><h1>Data Ibu Catin Pria</h1></center>
        <div class="mb-3">
            <select class="form-select input-group-outline" id="sttiblk" name="sttiblk" onchange="changeibulk()">
                <% if (datanikah.sttkeldes === 'satu'){ %>
                    <% if(datanikah.datapr.sttib === 'ada'){ %>
                        <option value="ada">Hidup</option>
                        <option value="meninggal">Meninggal</option>
                    <% } else { %>
                        <option value="meninggal">Meninggal</option>
                        <option value="ada">Hidup</option>
                    <% } %>
                <% } else{ %>
                    <option value="ada">Hidup</option>
                    <option value="meninggal">Meninggal</option>
                <% } %>
            </select>
            <script>
                function changeibulk() {
                    const sttiblk = document.getElementById('sttiblk').value;
                    const iblk = $("#ibulkdiv");
                    const iblkmati = $("#ibulkmatidiv");
                    if (sttiblk == 'ada') {
                        iblk.show();
                        iblkmati.hide();
                    } else {
                        iblk.hide();
                        iblkmati.show();
                    }
                }
            </script>
        </div>
        <div id="ibulkdiv">
            <div class="mb-3 input-group input-group-outline <%
            if(datanikah.datalk.nikib){ %> is-filled<% } %>">
                <label for="nikiblk" class="form-label">NIK</label>
                <input type="text" name="nikiblk" id="nikiblk" list="listiblk" class="form-control"
                <% if(datanikah.datalk.nikib){ %> <%= datanikah.datalk.nikib %>
                        <% } %>
                >
                <datalist id="listiblk">
                    <% pr.forEach((listpr) =>{ %>
                        <option value="<%= listpr.nik %>"><%= listpr.nama %></option>
                    <% }) %>
                </datalist>
            </div>
            <div class="mb-3 input-group input-group-outline <% if(datanikah.datalk.bintiib){ %> is-filled<% } %>">
                <label for="bintiiblk" class="form-label">Bin</label>
                <input type="text" class="form-control" id="bintiiblk" name="bintiiblk"
                <% if(datanikah.datalk.bintiib){ %> <%= datanikah.datalk.bintiib %>
                        <% } %>
                >
            </div>
        </div>
        <div id="ibulkmatidiv">
            <div class="mb-3 input-group input-group-outline <% if(datanikah.datalk.namaib){ %> is-filled<% } %>">
                <label for="namaiblk" class="form-label">Nama</label>
                <input type="text" class="form-control" id="namaiblk" name="namaiblk"
                <% if(datanikah.datalk.namaib){ %> value="<%= datanikah.datalk.namaib %>"
                        <% } %>
                >
            </div>
        </div>
    </div>
    <hr class="mt-3 mb-3" style="border-top: 2px dashed blue;">
    <center><h1>Data Wali</h1></center>
    <div class="mb-3">
        <select class="form-select input-group-outline" id="walinikah" name="walinikah" onchange="changewali()">
            <% if(datanikah.acara.walinikah === 'ayah'){ %>
                <option value="ayah">Ayah</option>
                <option value="hakim">Wali Hakim</option>
                <option value="lainnya">Lainnya</option>
            <% } else if (datanikah.acara.walinikah === 'hakim') { %>
                <option value="hakim">Wali Hakim</option>
                <option value="ayah">Ayah</option>
                <option value="lainnya">Lainnya</option>
            <% } else { %>
                <option value="lainnya">Lainnya</option>
                <option value="ayah">Ayah</option>
                <option value="hakim">Wali Hakim</option>
            <% } %>
        </select>
        <script>
            function changewali() {
                const wali = document.getElementById('walinikah').value;
                const walidiv = $("#walidiv");
                if (wali == 'lainnya') {
                    walidiv.show();
                } else {
                    walidiv.hide();
                }
            }
        </script>
    </div>
    <div id="walidiv">
        <div class="mb-3 input-group input-group-outline <% if(datanikah.acara.nikwali){ %> is-filled<% } %>">
            <label for="nikwali" class="form-label">NIK</label>
            <input type="text" name="nikwali" id="nikwali" list="listwali" class="form-control"
            <% if(datanikah.acara.nikwali){ %> value="<%= datanikah.acara.nikwali %>"
                    <% } %>
            >
            <datalist id="listwali">
                <% lk.forEach((listlk) =>{ %>
                    <option value="<%= listlk.nik %>"><%= listlk.nama %></option>
                <% }) %>
            </datalist>
        </div>
        <div class="mb-3 input-group input-group-outline <% if(datanikah.acara.hubunganwali){ %> is-filled<% } %>">
            <label for="hubungan_wali" class="form-label">Hubungan</label>
            <input type="text" class="form-control" id="hubungan_wali" name="hubungan_wali"
            <% if(datanikah.acara.hubunganwali){ %> <%= datanikah.acara.hubunganwali %>
                    <% } %>
            >
        </div>
    </div>

    <hr style="border-top: 2px dashed blue;">
    <center><h1>Data Acara</h1></center>
    <div class="mb-3 input-group input-group-outline <% if(datanikah.acara.tempat_nikah){ %> is-filled<% } %>">
        <label for="tempat_nikah" class="form-label">Tempat Nikah</label>
        <input type="text" class="form-control" id="tempat_nikah" name="tempat_nikah"
        <% if(datanikah.acara.tempat_nikah){ %> value="<%= datanikah.acara.tempat_nikah %>"
                <% } %>
        >
        <input type="datetime-local" class="form-control" id="tglnikah" name="tglnikah"
        <% if(datanikah.acara.tglnikah){ %> value="<%= datanikah.acara.tglnikah%>"
                <% } %>
        >
    </div>
    <div class="mb-3 input-group input-group-outline <% if(datanikah.acara.mas_kawin){ %> is-filled<% } %>">
        <label for="mas_kawin" class="form-label">Mas Kawin</label>
        <input type="text" class="form-control" id="mas_kawin" name="mas_kawin"
        <% if(datanikah.acara.mas_kawin){ %> value="<%= datanikah.acara.mas_kawin %>"
                <% } %>
        >
    </div>
    <hr style="border-top: 2px dashed green;">
    <center>
        <button type="submit" class="mb-3 btn btn-success">Simpan</button>
    </center>
</form>
<%- include('../../template/footer') %>
<script>
    $(document).ready(function () {
        $("#noaclkdiv").hide();
        $("#ayahprmatidiv").hide();
        $("#ibuprmatidiv").hide();
        $("#sttkeldesdiv").hide();
        $("#ayahlkmatidiv").hide();
        $("#ibulkmatidiv").hide();
        $("#walidiv").hide();
        changepr();
        changeayahpr();
        changeibpr();
        changelk();
        changeibulk();
        changeayahlk();
        changewali();
    });
</script>
<%- include('../../template/close_foot') %>